<div class="container">
    <h1>Search Customer</h1>
    <mat-divider></mat-divider>

    <mat-form-field appearance="fill">
        <mat-label>Customer fullname</mat-label>
        <input matInput type="text" [(ngModel)]="filterValue" (keyup)="doFilter()">
        <mat-icon *ngIf="filterValue" matSuffix (click)="doClear()">close</mat-icon>
    </mat-form-field>
    

    <div *ngFor="let customer of filteredCustomers">
        <mat-card matRipple (click)="chooseCustomer(customer)">{{customer.name + ' ' + customer.lastname}}</mat-card>
    </div>
</div>